@media print {
  body.stream {
    background: white;
    overflow: visible;
    height: auto;
  }
  .sidebar-tab {
    overflow: visible;
  }
  #chat-log {
    overflow: visible;
  }
}

#chat-controls .control-buttons {
  flex: 0 0 72px;
}